{% extends 'base.html.twig' %}

{% block body %}
    {% include 'header.html.twig' %}

    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add category
                </div>
                <div class="panel-body">
                    <form id="add_category_form">
                        <div class="form-group">
                            <input type="text" id="category_name_field" placeholder="Category name..." class="form-control" />
                        </div>
                    </form>
                    <button id="addCategoryBtn" class="btn btn-success">Add category</button>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Overview categories
                </div>

                <table id="dataTable" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for c in categories %}

                        <tr class="category" data-id="{{ c.id }}">
                            <td>
                                <input disabled class="form-control catName" type="text" value="{{ c.name }}" />
                            </td>
                            <td>
                                <button type="button" class="btn btn-info editCat">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                            </td>
                            <td>
                                <button ddata-toggle="confirmation" data-popout="true" type="button" class="btn btn-danger delete">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>

                </table>

            </div>
        </div>
    </div>




{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function () {
            addCategoryListener();
            deleteCategoryListener();
            updateCategoryListener()
        });

        function addCategoryListener() {
            $("#addCategoryBtn").on("click", function () {
                var name = $("#category_name_field").val();

                $.post('{{ path('add_category') }}', { name: name })
                        .done(function (catID) {

                            var tr = $("<tr>").attr('data-id', catID);

                            var tdName = $("<td>");
                            var input = $('<input>').addClass('form-control catName')
                                    .attr('disabled', true)
                                    .attr('type', 'text')
                                    .attr('value', name);
                            tdName.append(input);


                            console.log('make edit')
                            var tdEdit = $('<td>');
                            var editButton = $('<button>').addClass('btn btn-default editCat').attr('type', 'button');
                            var editIcon = $('<span>').addClass('glyphicon glyphicon-edit');
                            editButton.append(editIcon);
                            tdEdit.append(editButton);

                            console.log('make delete')
                            var tdDelete = $('<td>');
                            var deleteButton = $('<button>').addClass('btn btn-default delete').attr('type', 'button');
                            var removeIcon = $('<span>').addClass('glyphicon glyphicon-remove');
                            deleteButton.append(removeIcon);
                            tdDelete.append(deleteButton);

                            tr.append(tdName);
                            tr.append(tdEdit);
                            tr.append(tdDelete);

                            $("#dataTable tbody").append(tr);
                        });
            });
        }

        function deleteCategoryListener() {
            $(".delete").on("click", function () {
                var catID = $(this).closest('tr').data('id');

                $.ajax({
                    url: '{{ path('delete_category') }}',
                    method: 'DELETE',
                    data: { id: catID }
                }).done(function (result) {
                    console.log(result);
                })
                $(this).closest('tr').remove();
            })
        }

        function updateCategoryListener() {
            $(".editCat").on("click", function () {
                toggleDisabled($(this).closest('tr').find('.catName'));
            })
        }

        function toggleDisabled(input) {
            if (input.attr('disabled')) {
                input.attr('disabled', false)
            } else {
                var catID = input.closest('tr').data('id');
                var newValue = input.val();
                editCat(catID, newValue);

                input.attr('disabled', true)
            }
        }

        function editCat(catID, value) {
            $.ajax({
                url: '{{ path('edit_category') }}',
                method: 'PUT',
                data: { catID: catID, value: value }
            });
        }


    </script>
{% endblock %}