{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>Grocery App</h1>
                <small>Paisan Rietbroek</small>
            </div>
            <button type="button" id="logoutBtn" class="btn btn-danger">Logout</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <!-- Default panel contents -->
                                <div class="panel-heading"><b>Status</b></div>
                                <div class="panel-body">
                                    <p id="totalPrice"></p>
                                    <p id="numberOfItems"></p>
                                    <p id="estimateTime"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Add item</div>
                        <div class="panel-body">
                            <form id="add_item_form">

                                <div class="form-group">
                                    <select id="select_category" class="form-control">

                                        <option selected disabled>Select a category...</option>

                                        {% for category in categories %}
                                            <option>{{ category.name }}</option>
                                        {% endfor %}

                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="name" placeholder="Item name..." class="form-control" value="testItem" />
                                </div>

                                <div class="form-group">
                                    <input type="number" id="amount" class="form-control" placeholder="Amount..." value="3" />
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">€</div>
                                        <input type="number" id="price" class="form-control" placeholder="Price..." value="1.5" />
                                    </div>
                                </div>
                            </form>
                            <button id="addItemBtn" class="btn btn-success">Add item</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Add category</div>
                        <div class="panel-body">
                            <form id="add_category_form">
                                <div class="form-group">
                                    <input type="text" id="category_name_field" placeholder="Category name..." class="form-control" />
                                </div>
                            </form>
                            <button id="addCategoryBtn" class="btn btn-success">Add category</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Overview items</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="searchField" placeholder="Search...">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select id="search_category" class="form-control">

                                    <option selected data-id="0">All items</option>

                                    {% for category in categories %}
                                        <option data-id="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <table id="dataTable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in items %}
                                    <tr class="item" data-id="{{ item.id }}">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>{{ item.category.name }}</td>
                                        <td>
                                            <button type="button" class="btn btn-default delete">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function () {
            setStatus();
            searchByCategory();
            addItem();
            addCategory();
            searchItem();
            logout();
            deleteItem();
        });


        function setStatus() {
            $.get("{{ path('get_status') }}")
                    .done(function (data) {
                        $("#totalPrice").html("Total price: €" + data.price);
                        $("#numberOfItems").html("Total items: " + data.number)
                        $("#estimateTime").html("Estimate time: " + data.time + " minutes")
                    });
        }

        function refreshItems(items) {
            $("#dataTable tbody").empty();

            jQuery.each($.parseJSON(items), function (i, item) {

                var tr = $('<tr class="item" data-id="' + item.id + '">' +
                        '<td>' + item.name + '</td>' +
                        '<td>' + item.amount + '</td>' +
                        '<td>' + item.price + '</td>' +
                        '<td>' + item.category.name + '</td>' +
                        '<td>' +
                        '<button type="button" class="btn btn-default delete">' +
                        '<span class="glyphicon glyphicon-remove"></span>' +
                        '</button>' +
                        '</td>' +
                        '</tr>');

                $("#dataTable tbody").append(tr);
            });
        }

        function refreshCategoriesAdd(categories) {
            $("#select_category").empty().append('<option selected disabled>Select a category...</option>');
            setCategoryOptions($("#select_category"), categories);
        }

        function refreshCategoriesSearch(categories) {
            $("#search_category").empty().append('<option selected data-id="0">All items</option>');
            setCategoryOptions($("#search_category"), categories);
        }

        function setCategoryOptions(selectElement, categories) {
            jQuery.each($.parseJSON(categories), function (c, category) {
                var option = $('<option data-id=' + category.id + '>' + category.name + '</option>')
                selectElement.append(option);
            });
        }

        function init(result) {
            refreshItems(result);
            setStatus();
            deleteItem();
        }

        function addCategory() {
            $("#addCategoryBtn").on("click", function () {
                var name = $("#category_name_field").val();

                $.post('{{ path('add_category') }}', { name: name })
                        .done(function (data) {
                            refreshCategoriesAdd(data);
                            refreshCategoriesSearch(data);
                        });
                categoryAddedMessage();
            });
        }

        function deleteItem() {
            $(".delete").on("click", function (event) {

                var itemId = $(this).closest("tr").data("id");

                $.ajax({
                    url: '{{ path('delete_item') }}',
                    method: 'DELETE',
                    data: { id: itemId }})
                        .done(function (result) {
                            init(result);
                        });
            });
        }

        function addItem() {
            $("#addItemBtn").on("click", function () {
                var name = $("#name").val();
                var amount = $("#amount").val();
                var price = $("#price").val();
                var category = $("#select_category").val();

                var item = new Object();
                item.name = name;
                item.amount = amount;
                item.price = price;
                item.category = category;

                $.post('{{ path('add_item') }}', { item: JSON.stringify(item) })
                        .done(function (data) {
                            init(data);
                        });
            });
        }

        function searchItem() {
            $("#searchField").keyup (function () {
                var searchField = $(this).val();

                $.get('{{ path('search_action') }}', { searchField: searchField })
                        .done(function ( data ) {

                            $("#dataTable tbody").empty();

                            init(data)
                        });
            });
        }

        function logout() {
            $("#logoutBtn").on("click", function () {
                window.location.replace('{{ path('logout') }}');
            });
        }

        function searchByCategory() {
            $('#search_category').on('change', function () {

                var id = $("option:selected", this).data('id');

                if (id < 1) {
                    $.get('{{ path('get_all_items') }}')
                            .done(function (data) {
                                init(data)
                            })
                } else {
                    $.get('{{ path('get_all_by_category') }}', { id: id })
                            .done(function (data) {
                                init(data)
                            });
                }
            });
        }

        function categoryAddedMessage() {
            var div = $('<div class="alert alert-success" role="alert">Category successfully added!</div>');
            $('#addCategoryBtn').after(div);
            setTimeout(function () {
                $('.alert').remove();
            }, 2000)

        }


    </script>
{% endblock %}
