{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <!-- Default panel contents -->
                                <div class="panel-heading">
                                    <b>
                                        <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Status
                                    </b>
                                </div>
                                <div class="panel-body">
                                    <p id="totalPrice"></p>
                                    <p id="numberOfItems"></p>
                                    <p id="estimateTime"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add item
                        </div>
                        <div class="panel-body">
                            <form id="add_item_form">

                                <div class="form-group">
                                    <select id="select_category" class="form-control">

                                        <option selected disabled>Select a category...</option>

                                        {% for category in categories %}
                                            <option>{{ category.name }}</option>
                                        {% endfor %}

                                    </select>
                                </div>

                                <div class="form-group">
                                    <input type="text" id="name" placeholder="Item name..." class="form-control" value="" />
                                </div>

                                <div class="form-group">
                                    <input type="number" id="amount" class="form-control" placeholder="Amount..." value="1" />
                                </div>

                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">€</div>
                                        <input type="number" id="price" class="form-control" placeholder="Price..." value="0.00" />
                                    </div>
                                </div>
                            </form>
                            <button id="addItemBtn" class="btn btn-success">Add item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Overview items
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="searchField" placeholder="Search...">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <select id="search_category" class="form-control">

                                    <option selected data-id="0">All items</option>

                                    {% for category in categories %}
                                        <option data-id="{{ category.id }}">{{ category.name }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">

                            <table id="dataTable" class="table table-hover">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Check</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for item in items %}
                                    <tr class="item" data-id="{{ item.id }}">
                                        <td>{{ item.name }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.price }}</td>
                                        <td>
                                            {% if item.category.name is defined %}
                                                {{ item.category.name }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>

                                        <td>
                                            <input class="check-event" type="checkbox"
                                                   data-toggle="toggle"
                                                   data-on="+"
                                                   data-off="-"
                                                   data-onstyle="success"
                                                   data-offstyle="warning"
                                                   {% if item.isChecked %}
                                                       checked
                                                   {% endif %}
                                            />
                                        </td>

                                        <td>
                                            <button type="button" class="btn btn-danger delete">
                                                <span class="glyphicon glyphicon-remove"></span>
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $( document ).ready(function () {
            setStatus();
            searchByCategory();
            addItem();
            searchItem();
            logout();
            deleteItemListener();
            checkboxListener();
        });

        function setStatus() {

            var id = $("#search_category option:selected").data('id');

            $.get("{{ path('get_status') }}", { catID: id })
                    .done(function (data) {
                        $("#totalPrice").html("Total price: €" + data.price);
                        $("#numberOfItems").html("Total items: " + data.number)
                        $("#estimateTime").html("Estimate time: " + data.time + " minutes")
                    });
        }

        function refreshItems(items) {
            $("#dataTable tbody").empty();

            jQuery.each($.parseJSON(items), function (i, item) {

                var tr = $('<tr>').addClass('item').attr('data-id', item.id);

                var tdName = $('<td>').html(item.name);
                var tdAmount = $('<td>').html(item.amount);
                var tdPrice = $('<td>').html(item.price);

                var tdCat = $('<td>');
                var tdCheck = $('<td>');
                var inputCheck = $('<input>').addClass('check-event')
                                .attr('type', 'checkbox')
                                .attr('data-toggle', 'toggle')
                                .attr('data-on', '+')
                                .attr('data-off', '-')
                                .attr('data-onstyle', 'success')
                                .attr('data-offstyle', 'warning');
                if (item.isChecked) {
                    inputCheck.addClass('checked');
                }
                tdCheck.append(inputCheck);

                try {
                    tdCat.html(item.category.name);
                } catch (err) {
                    tdCat.html('-');
                }

                var tdDelete = $('<td>');
                var deleteBtn = $('<button>').addClass('btn btn-danger delete').attr('type', 'button');
                var icon = $('<span>').addClass('glyphicon glyphicon-remove');
                deleteBtn.append(icon);
                tdDelete.append(deleteBtn);

                tr.append(tdName);
                tr.append(tdAmount);
                tr.append(tdPrice);
                tr.append(tdCat);
                tr.append(tdCheck);
                tr.append(tdDelete);


                $("#dataTable tbody").append(tr);
            });
        }

        function init(result) {
            refreshItems(result);
            setStatus();
            deleteItemListener();
            checkboxListener();
        }

        function deleteItemListener() {
            $(".delete").on("click", function () {

                var itemID = $(this).closest("tr").data("id");
                var row = $(this).closest('tr');

                bootbox.confirm({
                    size: "small",
                    message: "Are you sure to delete?",
                    callback: function (result) {
                        if (result) {
                            deleteItem(itemID, row);
                        }
                    }
                })

            });
        }

        function deleteItem(itemID, row) {
            $.ajax({
                url: '{{ path('delete_item') }}',
                method: 'DELETE',
                data: { id: itemID }})
                    .done(function (result) {
                        if (result) {
                            row.remove();
                        }
                    })
        }

        function addItem() {
            $("#addItemBtn").on("click", function () {
                var name = $("#name").val();
                var amount = $("#amount").val();
                var price = $("#price").val();
                var category = $("#select_category").val();

                var item = new Object();
                item.name = name;
                item.amount = amount;
                item.price = price;
                item.category = category;

                $.post('{{ path('add_item') }}', { item: JSON.stringify(item) })
                        .done(function (data) {
                            init(data);
                        });
            });
        }

        function searchItem() {
            $("#searchField").keyup (function () {
                var searchField = $(this).val();

                $.get('{{ path('search_action') }}', { searchField: searchField })
                        .done(function ( data ) {

                            $("#dataTable tbody").empty();

                            init(data)
                        });
            });
        }

        function searchByCategory() {
            $('#search_category').on('change', function () {

                var id = $("option:selected", this).data('id');

                if (id < 1) {
                    $.get('{{ path('get_all_items') }}')
                            .done(function (data) {
                                console.log(data)
                                init(data)
                            })
                } else {
                    $.get('{{ path('get_all_by_category') }}', { id: id })
                            .done(function (data) {
                                init(data)
                            });
                }
            });
        }
        
        function checkboxListener() {
            $(".check-event").on("change", function () {
                var itemID = $(this).closest('tr').data('id');
                var checked = $(this).is(':checked');

                $.ajax({
                    url: '{{ path('change_check_status') }}',
                    method: 'PUT',
                    data: { itemID: itemID, isChecked: checked }
                });

            })
        }

        function logout() {
            $("#logoutBtn").on("click", function () {
                window.location.replace('{{ path('logout') }}');
            });
        }

    </script>
{% endblock %}
