{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Admin</h1>
        <small>Dashboard</small>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="{{ path('logout') }}" class="btn btn-danger">
                <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a>

            <a href="{{ path('add_user_page') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add user</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>E-mail</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr data-id="{{ user.id }}">
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td class="deleteUser" style="cursor: pointer"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {

            $(".deleteUser").on("click", function () {
                var userID = $(this).closest("tr").data("id");
                $.ajax({
                    url: '{{ path('delete_user') }}',
                    data: { userID: userID },
                    method: 'DELETE'
                }).done(function (result) {
                    console.log(result)
                })

                $(this).closest("tr").remove();
            })
        })
    </script>
{% endblock %}
